.inputsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  gap: 1rem;
}

.form .inputsContainer:not(:last-child) {
  border-bottom: 1px solid #24242433;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.selections {
  padding: 1rem 0;
}

.add:hover {
  background-color: #24cf24;
}
.delete:hover {
  background-color: #cf2424;
}

.ul {
  display: flex;
  flex-direction: column;
  background-color: #24242433;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  font-weight: 500;
}

.ul li:not(:last-child) {
  border-bottom: 1px solid #24242433;
}

.liHeader {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 0.5rem 1rem;
  background-color: #24242433;
  border-radius: 0.5rem 0.5rem 0 0;
}

.li {
  display: flex;
  padding: 1rem;
  gap: 1rem;
}

.liBody {
  margin-left: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.noClasses {
  text-align: center;
  padding: 0.7rem 0;
}

.checkbox {
  display: flex;
  place-items: center;
  gap: 0.5rem;
}
