.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(36, 36, 36, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  width: 100%;
  max-width: 640px;
  min-height: 380px;
  max-height: 500px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
}

.close:hover {
  background-color: #cf2424;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: start;

  span {
    font-size: 0.8rem;
    font-weight: 500;
    opacity: 0.8;
  }
}
