.header {
  padding-bottom: 1rem;
}

.badges {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.badge {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  border: 1px solid #24242433;
  border-radius: 0.5rem;
  transition: background-color 0.2s ease-in-out;
}

.badge:hover {
  background-color: #646cff33;
}

.img {
  width: 240px;
  height: auto;
}

.refresh {
  padding-bottom: 1rem;
}
