.inputs {
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 1rem;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.button {
  display: flex;
  place-items: center;
  padding: 0;
  color: #242424;
  background-color: transparent;
}
.button:disabled,
.button:disabled:hover {
  color: #242424;
  background-color: transparent;
}

.add:hover {
  color: #646cff;
  background-color: transparent;
}
.delete:hover {
  color: #fe2424;
  background-color: transparent;
}

.ul {
  display: flex;
  flex-direction: column;
  background-color: #24242433;
  border-radius: 0.5rem;
}

.ul li:not(:last-child) {
  border-bottom: 1px solid #24242433;
}

.liHeader {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
  background-color: #24242433;
  border-radius: 0.5rem 0.5rem 0 0;
}

.li {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
  padding-bottom: 0.5rem;
}

.noClasses {
  text-align: center;
  padding: 0.7rem 0;
}

.checkbox {
  display: flex;
  place-items: center;
  gap: 0.5rem;
}

.selections {
  padding: 1rem 0;
}
