.header {
  padding-bottom: 1rem;
}

.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
}

.selector {
  display: flex;
  flex-direction: column;

  label {
    font-size: 0.8rem;
    font-weight: 500;
    opacity: 0.8;
  }
}
