.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  margin-top: auto;
}

.h1 {
  font-size: 2.4rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.connected {
  display: flex;
  align-items: center;
  gap: 1rem;
}
