.label {
  font-size: 0.8rem;
  font-weight: 500;
  opacity: 0.8;
}

.container {
  text-align: start;
  display: flex;
  flex-direction: column;
}

.content {
  max-width: 240px;
  overflow: hidden;
  text-overflow: ellipsis;
}
